{% extends "app/layout.html" %}
{% load i18n admin_urls static admin_list %}
{% block content %}
  <div class="jumbotron">
    <div class="list-group">
      {% if has_add_permission %}
        <li class="list-group-item">
          {% url cl.opts|admin_urlname:'add' as add_url %}
          <a href="{% add_preserved_filters add_url is_popup to_field %}" class="btn btn-default">
            {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
          </a>
        </li>
      {% endif %}
    <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
      <li class="list-group-item">
        <form id="changelist-form" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>
          {% csrf_token %}
          {% block result_list %}
            {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
            {% result_list cl %}
            {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
          {% endblock %}
        </form>
      </li>
    </div>
  </div>
  </div>
{% block pagination %}{% pagination cl %}{% endblock %}
{% endblock %}
