{% extends "app/layout.html" %}
{% load i18n %}
{% block content %}
{% load staticfiles %}
<script src="{% static 'app/scripts/tinymce/tinymce.min.js' %}"></script>
<script>tinymce.init({
  selector: 'textarea',
  height: 250,
  theme: 'modern',
  plugins: [
    'advlist autolink lists link image charmap print preview hr anchor pagebreak',
    'searchreplace wordcount visualblocks visualchars code fullscreen',
    'insertdatetime media nonbreaking save table contextmenu directionality',
    'emoticons template paste textcolor colorpicker textpattern imagetools'
  ],
  toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
  toolbar2: 'print preview media | forecolor backcolor emoticons',
  image_advtab: true,
  content_css: [
    '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
    '//www.tinymce.com/css/codepen.min.css'
  ]
 });
</script>
<link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap-multiselect.css' %}" />
<script src="{% static 'app/scripts/bootstrap-multiselect.js' %}"></script>
<div class="jumbotron">
	{{form.errors}}
	<form action="" method="post" enctype="multipart/form-data">
		<div class="container">
		  <div class="row">
				{% csrf_token %}
				<div class="col-md-9" id="main-content">	
					{% trans "Titre" %} : {{ form.titre }}
							{{ form.Image }}
					{% trans "Description" %} : 
					{{ form.Contenue }}
				</div>
				<div class="col-md-3" id="news">
					<ul class="list-group">
						<li class="list-group-item">{% trans "Categorie" %} : {{ form.Categorie }}</li>
						<li class="list-group-item">{% trans "Licence" %} : {{ form.Licence }}</li>
						<li class="list-group-item">{% trans "Machine" %}e : {{ form.Machine }}</li>
						<li class="list-group-item">{% trans "Materiaux" %} : {{ form.Materiaux }}</li>
						<li class="list-group-item">{% trans "Fichier" %} : {{ form.fichier }}</li>
					</ul>
				</div>
				</br>
			</div>
			<input type="submit" value="Submit" class="btn btn-default"/>
		</div>
	</form>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#id_Machine').multiselect();
    });
 	$(document).ready(function() {
	$('#id_Materiaux').multiselect();
    });
</script>
{% endblock %}
