{% extends "app/layout.html" %}
{% load i18n %}
{% block content %}
{% load staticfiles %}
<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-7" id="main-content">	
				{% if user.is_superuser %}
					<a href="{% url 'admin:app_atelier_change' data.id %}" class="btn btn-default">{% trans "Edit" %}</a>
				{% endif %}
				
				{{data.Titre}}
				</br>
				{% load static %}
				<img src="{% get_media_prefix %}{{data.Image}}" class="img-responsive" alt="Responsive image" />
				</br>
				{% autoescape off %}
					{{data.Descritpion}}
				{% endautoescape %}
			</div>
			<div class="col-md-5" id="news">
				<ul class="list-group">
					{% load MyTag %}
					{% if  AffichPrix %}
						<li class="list-group-item">{% trans "Tarif" %} : {{data.prix}} €</li>
						<li class="list-group-item">{% trans "TarifAdh" %} : {{data.prixAdh}} €</li>
					{% endif %}
					<li class="list-group-item">{% trans "Date" %} : {{data.date}}</li>
					<li class="list-group-item">{% trans "PlaceRestante" %} : {{nbPlace}}</li>
					{% if user.is_authenticated %}
						{% if depasses %}
							{% if DejaInscrit %}
								<li class="list-group-item"><a href="{% url 'DesinscriptionAtelier' Action=data.id %}" class="btn btn-default">
									{% trans "desInscription" %}</a></li>
							{% else %}
								{% if nbPlace > 0 %}
									<li class="list-group-item"><a href="{% url 'InscriptionAtelier' Action=data.id %}" class="btn btn-default">
									{% trans "Inscription" %}</a></li>
								{% endif %}
							{% endif %}
						{% else %}
							<li class="list-group-item">{% trans "AtelierDepasser" %}</li>
						{% endif %}
					{% else %}
						<li class="list-group-item">{% trans "LogForInsc" %}</li>
					{% endif %}
					{% if user.is_authenticated %}
					<li class="list-group-item"> Inscrit :</li>
						{% for i in inscrit %}
							<li class="list-group-item"> {{i.user.first_name}} {{i.user.last_name}}</li>
						{% endfor %}
					{% endif %}

				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}
