{% extends "app/layout.html" %}
{% load i18n %}
{% block content %}
{% load staticfiles %}

<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-7" id="main-content">	
				{{data.titre}}
				{% if user.is_superuser  or user.username == data.Utilisateur.user.username%}
					<a href="{% url 'EditProjet' NbPage=data.id %}" class="btn btn-default">{% trans "Edit" %}</a>
					<a href="{% url 'DeleteProjet' NbPage=data.id %}" class="btn btn-default">{% trans "Suppr" %}</a>
				{% endif %}
				</br>
				{% load static %}
				<img src="{% get_media_prefix %}{{data.Image}}" class="img-responsive" alt="Responsive image" />
				</br>
				{% autoescape off %}
					{{data.Contenue}}
				{% endautoescape %}
			</div>
			<div class="col-md-5" id="news">
				<ul class="list-group">
					<li class="list-group-item">{% trans "Par" %} : {{data.Utilisateur.all.0.user.username}}</li>
					{% if data.fichier %}
						<li class="list-group-item">
							<a href="{% get_media_prefix %}{{data.fichier}}" class="btn btn-default">
								{% trans "Fichier joint" %}
							</a>
						</li>
					{% endif %}
					{% for machine in data.Machine.all %}
					<li class="list-group-item">
						<a href="{% url 'ViewMachine' NbPage=machine.id %}" class="btn btn-default">
							{% trans "Machine" %} : {{machine.Titre}}
						</a>
					</li>
					{% endfor %}
					<li class="list-group-item">{% trans "Categorie" %} : {{ data.Categorie.all.0.Nom }}</li>
					<li class="list-group-item">{% trans "Licence" %} : {{ data.Licence.all.0.Nom }}</li>
					{% for matiere in data.Materiaux.all %}
					<li class="list-group-item">{% trans "Materiaux" %} : {{ matiere.Nom }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>

{% load MyTag %}
<div id="disqus_thread"></div>
	<script>
	    /**
	     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
	     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
	     */
	    
	    var disqus_config = function () {
	        this.page.url = "{{ request.build_absolute_uri }}";  // Replace PAGE_URL with your page's canonical URL variable
	        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
	    };
	    
	    (function() {  // DON'T EDIT BELOW THIS LINE
	        var d = document, s = d.createElement('script');
	        
	        s.src = '//{% Infodisqus %}.disqus.com/embed.js';
	        
	        s.setAttribute('data-timestamp', +new Date());
	        (d.head || d.body).appendChild(s);
	    })();
	</script>
	<noscript>
		Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
	</noscript>
</div>
{% endblock %}
