{% extends "app/layout.html" %}
{% load i18n %}
{% block content %}
{% load staticfiles %}
<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-8" id="main-content">	
				{% if user.is_superuser %}
					<a href="{% url 'admin:app_machine_change' data.id %}" class="btn btn-default">{% trans "Edit" %}</a>
				{% endif %}
				{{data.Titre}}
				
				{% load static %}
				<img src="{% get_media_prefix %}{{data.Image}}" class="img-responsive" alt="Responsive image"/>
				</br>
				{% autoescape off %}
					{{data.Descritpion}}
				{% endautoescape %}
				{{DernierProjet.titre}}
			</div>
			<div class="col-md-4" id="news">
				<ul class="list-group">
					{% load MyTag %}
					{% if  AffichPrix %}
						<li class="list-group-item">{% trans "Tarif" %} : {{data.Cout}} €/h</li>
						<li class="list-group-item">{% trans "TarifAdh" %} : {{data.CoutAdh}} €/h</li>
					{% endif %}
					{% if data.fichier %}
						<li class="list-group-item">
							<a href="{% get_media_prefix %}{{data.fichier}}" class="btn btn-default">
								{% trans "Fichier joint" %}
							</a>
						</li>
					{% endif %}
					{% if DernierProjet.id %}
						<li class="list-group-item">
							<a href="{% url 'ViewProjet' NbPage=DernierProjet.id %}" class="btn btn-default">
								{% trans "Dernier projet" %} : {{DernierProjet.titre}}
							</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>

	</div>
</div>
{% endblock %}
