<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% load i18n %}
    {% get_current_language as LANGUAGE_CODE %}
    <!-- Current language: {{ LANGUAGE_CODE }} -->
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>

</head>
{% load MyTag %}
<body>
    {% if not is_popup %}
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{% url 'home' %}" class="navbar-brand">{% SiteName %}</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'ListProjet' %}">{% trans "Projet" %}</a></li>
                        <li><a href="{% url 'ListArticle' %}">{% trans "Blog" %}</a></li>
                        <li><a href="{% url 'ListAtelier' %}">{% trans "Atelier" %}</a></li>
                        <li><a href="{% url 'ListMachine' %}">{% trans "Machine" %}</a></li>        
                        {% if user.is_superuser %}
                        <li><a href="{% url 'admin:index' %}">{% trans "Admin" %}</a></li>
                        {% endif %}
                        <li><a href="{% url 'contact' %}">{% trans "Contact" %}</a></li>
                        <li><a href="{% url 'about' %}">{% trans "A propos" %}</a></li>
                    </ul>
                    {% include 'app/loginpartial.html' %}

                </div>
            </div>
        </div>
    {% endif %}
    <div class="container body-content">
{% block content %}{% endblock %}
        <hr/>
        {% if not is_popup %}
        <footer>
            <p>&copy; {{ year }} - {% SiteName %}  </p>
            
            <a href="https://bitbucket.org/speedi57/pyfabmanager"><span class="glyphicon glyphicon-eye-open"></span> OpenSource</a>
        </footer>
        {% endif %}
    </div>
{% block scripts %}{% endblock %}

</body>
</html>
