{% load i18n %}
{% if user.is_authenticated %}

<form id="logoutForm" action="/logout" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-brand">{% trans "Bonjour" %} <a href="{% url 'Profil' %}">{{ user.username }}</a>!</span></li>
        <li><a href="{% url 'logout' %}">{% trans "Se deconnecter" %}</a></li>
    </ul>

</form>

{% else %}

<ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'login' %}">{% trans "Se connecter" %}</a></li>
    <li><a href="{% url 'register' %}">{% trans "Inscription" %}</a></li>
</ul>

{% endif %}
